body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
h1 {
  font-size: 50px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
}
h3 {
  font-size: 20px;
  line-height: 20px;
}
p {
  font-size:12px;
}
#console {
  position: absolute;
  width: 290px;
  margin: 10px;
  top:0px;
  background-color: white;
}
#title {
  position: absolute;
  width: 700px;
  
  left:50%;
  transform: translate(-50%);
  text-align: center;
  font-family: 'Lobster', cursive;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 150%;
}

#features {
  top: 0;
  height: 200px;
  margin-top: 20px;
  width: 300px;
}

.dropdown {
  position: absolute;
  bottom: 40px;
  left: 5px;
}

.button {
  font-size: 20px;
  cursor: pointer;
  width:200px;
  height:60px;
  display:flex;
  justify-content: center; 
  align-items: center;
  background: #ee445b;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  border: 2px solid white;
  font-family: 'Kalam', cursive;
}


.content {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 0;
  background-color: white;
  width: 200px;
  
}

.show {
  display: block;
}

.dropdown-option {
  color: black;
  padding: 12px 0px;
  display:flex;
  cursor: pointer;
  background-color: white;
  width: 200px;
  font-size:20px;
  align-items: center;
  background: #e6a241;
  color: #fff;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
  font-family: 'Kalam', cursive;
}
.button:hover{
  background-color: #f4ab3e;
}
.dropdown-option:hover {
  background-color: #ee445b;
}
.button img{
  width: 30px;
  height: 30px;
  margin-right: 10px;

}
.dropdown-option img {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}
.button img {
  margin-right: 8px;
}
  
.my-popup .mapboxgl-popup-content h3{
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0px 0px;
  font-weight: 700;
  text-align:center;
}
.my-popup .mapboxgl-popup-content p{
 padding:0px 10px;
 display:flex;
}
.my-popup .mapboxgl-popup-content a{
 padding:0px 10px;
 display:flex;
}
.my-popup .mapboxgl-popup-content h2{
 padding:0px 10px;
 display:flex;
}

.my-popup .mapboxgl-popup-content{
  padding: 0;
  min-width: 200px;}

.popup .mapboxgl-popup-content {
  background: #91c949;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  font-weight: 700;
  text-align:center;
  font-size:15px;
}